<html layout:decorate="~{layout}">
  <div layout:fragment="content" class="container my-3">
    <table class="table">
      <thead>
      <tr>
        <th>번호</th>
        <th style="width:60%">제목</th>
        <th>작성일시</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="board  , loop: ${boardList}">
        <td th:text="${loop.count}"></td>
        <td>
          <a th:href="@{|/board/detail/${board.id}|}" th:text="${board.title}"></a>
        </td>
        <td th:text="${board.createTime}"></td>
      </tr>
      </tbody>
    </table>
    <a th:href="@{/board/create}" th:text="글쓰기" class="btn btn-lg btn-success"></a>
  </div>
</html>
